.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
}
.callTo{
    font-weight: 700;
    font-size: 22px;
}
.footerTitle{
    font-weight: 600;
    font-size: 18px;
}
.callTo > span{
    text-decoration: underline;
}
.section{
    display: flex;
    flex-direction: row;
    gap:15px;
}
.dev , .roteirista{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.links{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap:5px;
}
.verticalLign{
    width: 2px;
    background-color: black;
}